# Rust
/jsonschema/target
/bindings/*/target
/bench_helpers/target
/jsonschema-test-suite/target
.hypothesis
.benchmarks
/jsonschema/Cargo.lock
/jsonschema-test-suite/Cargo.lock

# IDEs
/.idea
/.vscode

Cargo.lock
